@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.form-container{
    margin-top: 10px;
}

li{
    margin-top: 40px;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

span{
    font-family: 'Lora', serif;
    font-size: 22px;
}

pre{
    margin: 0;
    font: inherit;
}