<div class="container">
    <div *ngIf="!isSubmitted">
        <h3>
            Fill Form Below
            <small class="text-muted">&nbsp;(Kindly fill accurate data)</small>
        </h3>
        <div class="form-container">
            <form [formGroup]="internProfile" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required formControlName="name">
                </div>
                <div class="form-group">
                    <label for="qualification">Qualification</label>
                    <input type="text" class="form-control" id="name" required formControlName="qualification">
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="experience">Do you have any prior Experience ?&nbsp;</label>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="experience">
                </div>
                <div *ngIf="experience">
                    <div formGroupName="experienceDetails">
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company" formControlName="company">
                        </div>
                        <div class="form-group">
                            <label for="years">Years of Experience</label>
                            <input type="number" class="form-control" id="years" formControlName="years">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="domain">Choose your Domain</label>
                    <select class="form-control" formControlName="domain">
                                    <option value="" selected disabled hidden>Choose here</option>
                                    <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
                            </select>
                </div>
                <div class="centerify text-center">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!internProfile.valid" >Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="isSubmitted">
        <div class="data-box text-center">
            <h1> {{successMessage | uppercase }}</h1>
            <ul class="list-unstyled">
                <li>Name: <span>{{name}}</span></li>
                <li>Qualification: <span>{{qualification}}</span></li>
                <li>Do I have Experience: <span>{{experience ? 'Yes' : 'No '}}</span></li>
                <div *ngIf="experience">
                    <li>Company: <span>{{company}}</span></li>
                    <li>Number of years: <span>{{years}}</span></li>
                </div>
                <li>Domain: <span>{{domain}}</span></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="editMode()">Edit Details</button>
    </div>
</div>